body {
    background: #ffffff;
    color: #*fuchsia }
        a:link { color: #00ff00 }
        a:visited { color: #ae00ff }
        a:active { color: #50a093 }
        a.case1:link { background: rgb(0, 19, 128) }
        p:first-line { margin-left: 100px }
        div.foo:first-line {
    font-weight: bold;
    margin-left: 100px }
      div:first-letter {
    font-size: large; 
    color: #ffffff }
      ul ul li {
    font-size: large; 
    font-decoration: italic }
      h2 em { font-weight: 1000 }
      h2.ex1 {
    color: #ffffff;       
    line-height: 60px; 
    font-size: 50px }
       .funkyclass {
    font: 36pt/40pt courier;
    font-variant: small-caps;
    border: thin dashed purple }
   #tagid1 {
    padding: 30px; 
    border: 30px groove #ffffff }
      .class1, #tagid2 { font-family: 'comic sans ms', fantasy; color: rgb(100%,100%,0%) }
      h1, h2, div.class5, blockquote { background: #000080 }
     p.special {
    font: 12pt/14pt sans-serif;
    margin: 10px 0px 2px 25px;
    border: round #ff0000;
    img {
        float: right;}
    background: #ffffff repeat-x fixed top left }
      blockquote {
    margin-left: 2cm; 
    color: #ff0000 }
     .part1 {
    font-size: x-large; 
    color: #808000 }
      h6 {
    font-size: x-small ! important;
    color: red ! important }

